.slider__images {
    position: relative;
}

.slider__images li {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: scale(.9) translateY(-25px);
    transition: all 250ms linear;

}

.slider__images li.active {
    position: static;
    opacity: 1;
    transform: scale(1) translateY(0);
}
