@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

body {
    padding: 10px;
}

main {
    margin: auto;
    max-width: 1280px;
}

.slider ul {
    list-style: none;
}

.slider img {
    max-width: 100%;
}

.slider button {
    -webkit-appearance: none;
    border: none;
    background: #333;
    color: #aaa;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 20px;
    text-align: center;
    border-radius: 20px;
    font-size: 14px;
    padding: 10px;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    transform: scale(0.8);
    transition: all linear 200ms;
}

.slider button:hover,
.slider button.active {
    background: #000;
    transform: scale(1);
    color: #fff;
}

.slider button:disabled {
    opacity: .5;
}

.slider__content {
    position: relative;
}

.slider__controls {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.slider__controls li.prev {
    float: left;
}

.slider__controls li.next {
    float: right;
}

.slider__controls button {
    border-radius: 0;
}

.slider__pager {
    margin-top: 20px;
    text-align: center;
}

.slider__pager li {
    margin: 0 5px;
    display: inline-block;
}
